.about__title {
   font-family: 'Kaushan Script';
   font-size: 140px;
   line-height: 108.4%;
   color: rgba(255, 255, 255, 0.1);
   margin-top: -80px;
   text-align: center;
}
.about__text {
   font-family: 'Avenir Next Cyr';
   margin: 40px 0 20px;   
   text-align: center;
   line-height: 168.4%;
   letter-spacing: 0.06em;
   font-size: 26px;
   color: #FFFFFF;
}
.highlight__yellow {
   color: $secondary-color;
}
.about__subtitle {
   font-family: 'Kaushan Script';
   font-size: 40px;
   padding: 40px 0 20px;
}

.about__blocks {

}
.about__block {
   display: flex;
   align-items: center;
   gap: 10px   ;
}
.block__img {
   width: 50px;
}
.block__texts {
}
.block__title {
}
.block__text {
}
.text__block {
   font-size: 12px;
   color: $gray-color;
}
.prev__page {
   flex: 0 0 150px;
   text-align: end;
   padding-left: 20px;
   &:before {
      content: '';
      padding-left: 30px;
      background: url(../assets/svg/arrow-left.svg) no-repeat left;
      transition: all .2s ease;
   }
   &:hover:before {
      content: '';
      padding-left: 40px;
      background: url(../assets/svg/arrow-left.svg) no-repeat left;
      transition: all .2s ease;
   }

}