body {
   background-color: $primary-color;
   font-family: Nunito;
   color: #fff;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;
}