body {
   background-color: $primary-color;
   font-family: "Avenir Next Cyr";
   color: #ffffff;
}

.container {
   max-width: 1200px;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

.wrapper {
   flex-direction: column;
   display: flex;
   justify-content: space-between;
   height: 100%;
   width: 100%;
   position: relative;
}
