.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   height: 50px;
   margin: 10px 0;
}
.header__navigation {
   
}
.navigation__items {
   display: flex;
   gap: 30px;
}
.naigation__item {
   font-size: 20px;
   line-height: 30px;
   position: relative;
   &:hover::after {
      width: 40px;
      transition: all .2s ease;
   }
   &::after {
      content: '';
      position: absolute;
      left: 0px;
      height: 30px;
      width: 0px;
      border-bottom: solid 3px #ce0000;
      transition: all .2s ease;
   }
}